html {
  margin: 1vh;
}

body {
  background-color: rgb(217, 85, 80);
  /* height: 80vh; */
  display: block; /* tiene utilidad?*/

  position: relative;

  min-height: 97vh;
}

.links {
  text-decoration: none;
}

.fuentes {
  font-family: "ArialRounded", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.name-user {
  cursor: default !important;
  /* font-size: 13px; */
  /* font-weight: bold; */
  text-transform: uppercase;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:-webkit-any-link {
  /* color: -webkit-link; */
  cursor: pointer;
}

/* color boton tarea */
.red {
  color: red;
}

/* titulos de paginas */
h2 {
  margin: 0;
  color: white;
  font-family: "ArialRounded", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  cursor: default;
}

/* logo titulo app */
.logo-app {
  width: 20px;
  margin-right: 4px;
}

/* Contiene toda la pagina en el body */
.blocke-principal {
  /* padding: 0px 12px; */
  max-width: 620px;
  margin: auto;

  /* padding-bottom: 5em; */
}

/* contenedor del encabezado */
.contenedor-encabezado {
  /* background-color: inherit; */
  /* width: 100%; */
  height: 60px;
  display: flex;
  /* -webkit-box-pack: justify; */
  justify-content: space-between;
  /* -webkit-box-align: center; */
  align-items: center;
}

/* titulo app */
.titulo-app {
  /* display: inline-block; */
  cursor: default;
  color: white;
  margin: 0px;
  padding: 10px 0px;
  font-size: 23px;
  font-family: "ArialRounded", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

/* contenedor-logs */
.contenedor-logs {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  /* justify-content: space-between;
  width: 222px; */
}
/* espacio botones NO */
.ligustro {
  margin-left: 10px;
}

/* botones logueo */
.boton-logueo {
  display: flex;
  /* -webkit-box-align: center; */
  align-items: center;
  /* -webkit-box-pack: center; */
  /* justify-content: center; */
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  background: none rgba(255, 255, 255, 0.2);
  box-shadow: none;
  /* margin-left: 10px;  nop*/
  /* font-size: 13px; */
  padding: 8px 12px;
  min-width: 70px;
  border: none;
  color: white !important;
}

/* logo del botones loguin */
.icono-log {
  font-size: 15px;
}

/* letras del boton log */
.letras-log {
  display: block;
  margin-left: 4px;
}

/* linea chochera */
.linea-separadora {
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
  margin-bottom: 40px;
}

/* engoba principal */
.bloque-secundario {
  max-width: 480px;
  /* margin: 20px 42px; */
  margin: 20px auto 42px;
  padding-bottom: 9.5em;
  margin-bottom: 0px;
}

/* titulo */
.titulos {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  padding-bottom: 14px;
  margin-bottom: 18px;
}

/* envoltorio principal tareas */
.contenedor-tarea {
  width: 100%;
  background-color: white;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 4px;
  border-radius: 4px;
  /* cursor: pointer; */
  margin-top: 8px;
  text-align: left;
  font-size: 16px;
  box-sizing: border-box;
  border-left: 6px solid transparent;
  transition: unset;
}

/* borde izquierdo sobreado al posicionarse */
.contenedor-tarea:hover {
  border-left: 6px solid rgb(204, 204, 204);
}

/* evuelve especifico cada tareas */
.contenido-tarea {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
}

/* la tarea y tilde */
.tarea-tilde {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  padding: 18px 0px 18px 14px;
  overflow-wrap: break-word;
  width: 40%;
  font-weight: bold;
  font-size: 16px;
  font-family: "ArialRounded", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: rgb(85, 85, 85);
}

/* tilde de la tarea */
.tilde {
  display: inline-block;
  margin-right: 10px;
  font-size: 26px;
}

/*logo eliminar tarea */
.logo-eliminar {
  /* display: flex; */
  /* -webkit-box-align: center; */
  /* align-items: center; */
  /* width: 30px; */
  padding-right: 14px;
  /* text-align: center; */
}

/* letra editar */
.letra-editar {
  text-decoration: none;
  display: inline-block;
  color: rgb(232 99 99);
  font-weight: bold;
  /* margin-right: 18px; NO*/
  width: 51px;
  font-size: 18px;
  text-align: right;
}

/* boton eliminar tarea */
.boton-eliminar {
  cursor: pointer;
  /* border: 1px solid rgb(223, 223, 223); */
  border: none;
  border-radius: 4px;
  padding: 10px 5px;
  background-color: white;
  width: 30px;
  font-size: 20px;
}

/* letras de la tarea ok */
.tarea {
  color: rgb(85, 85, 85);
  font-weight: bold;
  width: 85%;
  overflow: hidden;
  -webkit-box-align: center;
  align-items: center;
  line-height: 1.5em;
}

/* contenedor loguin y registro ------------------ */
.contenedor-log {
  background-color: white;
  border-radius: 8px;
  box-shadow: rgb(196 196 196) 0px 1px 0px;
  padding: 8px 18px 32px;
  box-sizing: border-box;
  width: 100%;
}

/* label de log y reg */
.letras-reglog {
  display: block;
  color: rgb(196, 196, 196);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 8px;
}

/* input log y reg */
.input-log {
  border-radius: 4px;
  background-color: rgb(239, 239, 239);
  font-size: 16px;
  padding: 12px 10px;
  box-shadow: none;
  border: none;
  color: rgb(85, 85, 85);
  width: 100%;
  box-sizing: border-box;
}

/* boton log y reg */
.boton-log {
  margin-top: 28px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 2px;
  color: white;
  opacity: 0.9;
  font-size: 14px;
  padding: 12px;
  min-width: 70px;
  background-color: rgb(34, 34, 34);
  border: 2px solid rgb(34, 34, 34);
  width: 100%;
}

.boton-log:hover {
  opacity: 1;
}

.contenedor-nuevatarea {
  /* width: 100%; */
  height: 60px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.8;
  margin-top: 12px;
  border: 2px dashed rgba(255, 255, 255, 0.4);
}

.contenedor-nuevatarea:hover {
  opacity: 1;
}

.letras-nuevatarea {
  font-family: "ArialRounded", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: white;
  opacity: 0.8;
  font-weight: bold;
}

/* icono nueva tarea */
.icono-nuevatarea {
  color: white;
  width: 18px;
  margin-right: 8px;
  opacity: 0.8;
  font-size: 20px;
}

/* contenedor editar y crear */
.contenedor-editarcrear {
  background-color: white;
  border-radius: 8px;
  text-align: left;
  margin-top: 12px;
  box-shadow: rgb(0 0 0 / 15%) 0px 10px 20px, rgb(0 0 0 / 10%) 0px 3px 6px;
  animation: 0.1s ease-in-out 0s 1 normal none running expand;
}

/* conenedor texto editar y crear */
.contenedor-letras-EC {
  padding: 10px 20px 0px;
  margin-bottom: 8px;
}

/* letras editar y crear ok*/
.letras-editarcrear {
  /* border-radius: 4px; */
  font-size: 22px;
  padding: 10px 0px;
  /* box-shadow: none; */
  border: none;
  color: rgb(85, 85, 85);
  width: 100%;
  /* box-sizing: border-box; */
  font-weight: bold;
}

.letras-editarcrear::placeholder {
  opacity: 0.5;
}

/* contenedor botones guardar cancelar */
.contenedor-botones {
  padding: 14px 20px;
  text-align: right;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: rgb(239, 239, 239);
  display: flex;
  /* -webkit-box-pack: justify; */
  justify-content: space-between;
  /* -webkit-box-align: center; */
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 8px;
}

.contenedor-completado {
  display: flex;
  justify-content: center;
}

/* alineado a la derecha SIN UTILIDAD */
.left {
  float: right;
  width: 100%;
  overflow: auto;
}

/* botones secundarios cancelar-eliminar-completado ok */
.botones-secundarios {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  font-size: 16px;
  margin: 0px 26px 0px 12px;
  min-width: 70px;
  display: inline-block;
  /* margin-right: 14px; */
  background: none;
  border: none;
  color: rgb(136, 136, 136);
  font-weight: bold;
  box-shadow: none;
}

/* boton guardar ok */
.boton-guardar {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 2px;
  color: white;
  opacity: 0.9;
  font-size: 14px;
  padding: 8px 12px;
  min-width: 70px;
  background-color: rgb(34, 34, 34);
  border: 2px solid rgb(34, 34, 34);
  display: inline-block;
}

/* Boton completado + icono activo  ok*/
.cheche input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* color boton */
.checkmarkk {
  color: red;
}

/* hover boton */
.cheche:hover input ~ .checkmarkk {
  color: rgb(182, 0, 0);
}

/* boton presionado  */
.cheche input:checked ~ .checkmarkk {
  color: rgb(85, 85, 85);
  text-decoration: line-through double red;
}

@media only screen and (max-width: 576px) {
  /* .contenedor-logs {
    width: 122px;
 } */

  html {
    padding: 0 1vh;
    margin-bottom: 0;
  }

  body {
    min-height: 94vh;
  }
  .bloque-secundario {
    padding-bottom: 7.5em;
  }

  h2 {
    margin-left: 15px;
    font-size: 1.3em;
  }

  .linea-separadora {
    margin-bottom: 32px;
  }

  .contenedor-nuevatarea {
    margin-bottom: 1em;
  }

  /* letras del loguin */
  .letras-log {
    display: none;
  }
  /* iconos boton-logueo */
  .boton-logueo {
    padding: 8px;
    min-width: auto;
  }
  /* icono de logueo */
  .icono-log {
    font-size: 17px;
  }
  .globo.i {
    width: 55%;
  }
}

/* buscar la manera de no repetir contenido de las clases, por ejemplo la clase fuentes puede ser agregada para no repetir la fuente
de igual manera alguna cofiguracion de flex-box repetitiva, esto probar por ultimo. luego de chequear clase por clase */

/* solo a la palabra completado le agregaria un poco de pading inferior, guarda que esta conectado con todos los botones secundarios */

/* el whidth del contenedor log se puede acomodar de otra manera, en pixels no me cierra */

/* esta bueno que las clases tengan los valores como corresponde, irse a apuntes facu. en em y % etc */

.globo {
  position: absolute;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: var(--borde);
  padding: var(--borde);
  --borde: 1em;
  font-family: sans-serif;
  z-index: 1;
  background-color: white;
  filter: drop-shadow(0px 0px 1px black);
}

.globo.i {
  width: 30%;
  top: 21%;
  left: 26%;
}

.globo::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: var(--colita);
  height: var(--colita);
}

.globo.abajo-derecha::before {
  --colita: 20px;
  left: 15%;
  bottom: calc(var(--colita) / -1.5);
  transform: skewY(30deg) rotateZ(-30deg);
  border-radius: 0 0 0 10em;
  box-shadow: inset calc(var(--colita) / 2) calc(var(--colita) / 3) 0 0 white;
}

.globo.yellow::before {
  background-color: rgba(255, 255, 0, 0.8);
  color: rgba(255, 2, 0, 0.5);
  animation: cambio-color ease 5s infinite both;
  -webkit-animation: cambio-color ease 5s infinite both;
}

@keyframes cambio-color {
  45%,
  55% {
    background-color: rgba(255, 255, 255, 0);
    color: white;
  }
}

footer {
  margin-top: 40px;
  border-top: 2px solid #efefef;
  text-align: center;
  padding-top: 17px;
  color: hsl(0deg 0% 11%);
  /* padding-bottom: 20px; */

  position: absolute;
  bottom: 0;
  width: 100%;
}

.redlinks {
  display: flex;
  justify-content: center;
  /* margin-bottom: 18px; */
}
.redlinks img {
  background-color: #ffbdbdcc;
  width: 28px;
  height: 28px;
  border-radius: 100px;
  padding: 6px;
  margin: 0px 6px;
  margin-bottom: 8px;
}
/* esta clase no se puede ahorrar ********** */
.made {
  /* margin-top: 10px; */
  margin-bottom: 12px;
}

.allrights {
  font-size: 12px;
  color: hsl(0deg 0% 8%);
}
