{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Nueva tarea{% endblock %}</h2>
{% endblock %}

{% block content %}
<form class="bDuesm" method="POST">
	<section class="pMNkX">
		<!-- <label for="description">Descripcion</label> -->
		<input class="dvFLAw jVoeih dmnlKK" placeholder="Cual es la nueva tarea?" name="description" id="description"
			required />
	</section>
	<section class="hCdQli">
		<div class="left">
			<a class="jhqZwE fuentes links " href="{{ url_for('todo.index') }}">cancelar</a>

			<input class="gfRDmQ" type="submit" value="Guardar" />
		</div>
	</section>
</form>
{% endblock %}