{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Tareas{% endblock %}</h2>
{% if g.user %}
<!-- <a class="action" href="{{ url_for('todo.create') }}">Nuevo</a> -->
{% endif %}
{% endblock %}

{% block content %}
<!-- <ul> -->
{% for todo in todos %}

<!-- <li class="todo cmBgVX"> -->
<div class="contenedor-tarea">
	<div class="contenido-tarea">
		<span class="tarea-tilde">
			{% if todo['completed'] == 1 %}
			<i class="fas fa-check-circle fa-2x tilde"></i>
			<span class="tarea"><strike>{{ todo['description'] }}</strike></span>
			{% else %}
			<i class="fas fa-check-circle red tilde"></i>
			<span class="tarea">{{ todo['description'] }}</span>
			{% endif %}
		</span>
		<div class="about">{{ todo['created_at'].strftime('%Y-%m-%d') }}</div>

		<a class="action letra-editar" href="{{ url_for('todo.update', id=todo['id']) }}">Editar</a>
		<form class="logo-eliminar" action="{{ url_for('todo.delete', id=todo['id']) }}" method="post">
			<button class="boton-eliminar" type="submit" onclick="return confirm('Estas seguro de querer eliminarlo?')"><i
					class="far fa-trash-alt"></i></button>
			<!-- <input class="danger" type="submit" value="X"
				onclick="return confirm('Estas seguro de querer eliminarlo?')" /> -->
		</form>
	</div>
</div>
<!-- nueva tarea -->

<!-- </li> -->

<!-- cancelando el margin del H1 O CAMBIANDO ESTO POR OTRA SEMANTICA SE SALE EL MARGIN -->

{% if not loop.last %}
<!-- <hr> -->
{% endif %}
{% endfor %}
<a class="action links" href="{{ url_for('todo.create') }}">
	<div class="contenedor-nuevatarea"><i class="fas fa-plus-circle icono-nuevatarea" alt="Circulo positivo"></i>
		<div class="letras-nuevatarea">Nueva Tarea</div>
	</div>
</a>
<!-- </ul> -->
{% endblock %}